//Soal 1
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<div id="app">
		<form @submit.prevent = "submitForm()">
			<p v-if="errors.lenght">
				<b>Cari judul buku </b>
				<ul>
					<li v-for="error in errors">Kalkulus Dasar</li>
					<li v-for="error in errors">Fisika Dasar</li>
					<li v-for="error in errors">Aljabar Linear Elementer</li>
					<li v-for="error in errors">Aljabar Abstrak</li>
					<li v-for="error in errors">Algoritma Pemrograman</li>
				</ul>
			</p>	
			<label>Judul : </label>
			<input type="text" name="title" ref="title" v-model="title">
			<input type = "submit" value = "SUBMIT">
		</form>
	<div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				judul : ''
			},
			methods: {
				submitForm: function(){
					
					if(this.judul === k){
						this.$refs.judul.focus()
					}
				}
			}
		}